*{
    margin: 0;
    padding: 0;
}

.contenedor{    
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: 50px 60px 1fr 50px;
    grid-template-areas: 
    "me"
    "fi"
    "pr"
    "fo";
}



/*MENU*/
.menu{
    grid-area: me;
    background-color: rgb(0, 87, 156);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_logo   {
    display: flex;
    align-items: center;
    color: #ECECEC;
    padding-left: 5px;
    gap: px;
}

.menu>img,.menu_logo>img{
    width: 30px; /*ajuste de iconos*/
}

.menu>ul{
    display: none;
}



/*FILTRO*/
.filtro{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area:fi;
    background-color: rgb(226, 226, 226);
}
.filtro>select{
    width: 300px;
    height: 30px;
}

/*PRINCIPAL*/
.principal{
    grid-area:pr;
    
}

.principal>.contenedor_cards{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.principal>.contenedor_cards>.card{
    display: flex;
    flex-direction: column;
    align-items:center ;
    background-color: white;
    border: 1px solid grey;
    width: 200px;
    height: fit-content;
    padding: 10px ;
    gap: 15px;
    border-radius: 3px;
}
.principal>.contenedor_cards>.card>img{
    width: 200px;
    height: 210px;
}

.principal>.contenedor_cards>.card>button{
    color: white;
    background-color: rgb(0, 87, 156);
    width: 60px;
    height: 30px;
}

.principal>.selector_paginas{
    display: flex;
    justify-content: center;
}

.principal>.selector_paginas>button{
    width: 30px;
    height: 30px;
    background-color: #ECECEC;
}

/*FOOTER*/
.footer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    grid-area:fo;
    background-color: rgb(0, 87, 156);
    color: white;
    text-align: center; 
}

.footer>.redes>img{
    width: 20px;
}



/*VERSION ESCRITORIO*/

@media(min-width:576px){
    .contenedor{    
        grid-template-areas: 
        "me fi"
        "me pr"
        "fo pr"
        ;
        grid-template-columns: 150px 1fr;
        grid-template-rows: 60px 1fr 70px;
    }

    .principal>.contenedor_cards{
        flex-direction: row;
        flex-wrap: wrap;     /*ancho maximo, baja las card */
    }
    .contenedor>.menu>.menu_h{
        display: none;
    }
    .menu{
        flex-direction: column;
        justify-content: start;
        gap: 50px;
        padding: 10px;
        color: white;
    }
    .menu>ul{
        display: block;
        list-style: none;
    }
    .filtro>select{
        width: 90%;
    }
}